body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.topBar {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: dodgerblue;
  justify-content: space-between;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.topBar_titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.topBar button {
  height: 30px;
  width: 45px;
  background-color: transparent;
  /*border: none;*/
  background-repeat: no-repeat;
  /*background-size: 24px 24px;*/
}

.topBar_sysTrayBtns_close {
  background-image: url("./close-default-16.png");
  padding-left: 10px;
}

.topBar_sysTrayBtns_minimize {
}

.topBar_sysTrayBtns_maxOrRestoreDown {
}
