body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.topBar {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: #212121;
  justify-content: space-between;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.topBar_titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  padding-left: 10px;
}

.topBar_titleBar h6 {
  margin: 5px;
}

.topBar_sysTrayBtns {
  display: flex;
}

.topBar button {
  height: 30px;
  width: 45px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.topBar_sysTrayBtns_close {
  background-image: url("../../../assets/sysTray/çlose-white.png");
}

.topBar_sysTrayBtns_minimize {
  background-image: url("../../../assets/sysTray/minimize-white.png");
}

.topBar_sysTrayBtns_maxOrRestoreDown {
  background-image: url("../../../assets/sysTray/restoreDown-white.png");
}
